## build folders
lib/**
obj/**
lib64/**
obj64/**
*.filters
*.user
*.db

# windows build files
src/buildvm.exe
src/buildvm.exp
src/buildvm.lib
src/buildvm.obj
src/buildvm_asm.obj
src/buildvm_fold.obj
src/buildvm_lib.obj
src/buildvm_peobj.obj
src/host/buildvm_arch.h
src/jit/vmdef.lua
src/lib_aux.obj
src/lib_base.obj
src/lib_bit.obj
src/lib_debug.obj
src/lib_ffi.obj
src/lib_init.obj
src/lib_io.obj
src/lib_jit.obj
src/lib_math.obj
src/lib_os.obj
src/lib_package.obj
src/lib_string.obj
src/lib_table.obj
src/lj_alloc.obj
src/lj_api.obj
src/lj_asm.obj
src/lj_bc.obj
src/lj_bcread.obj
src/lj_bcwrite.obj
src/lj_buf.obj
src/lj_carith.obj
src/lj_ccall.obj
src/lj_ccallback.obj
src/lj_cconv.obj
src/lj_cdata.obj
src/lj_char.obj
src/lj_clib.obj
src/lj_cparse.obj
src/lj_crecord.obj
src/lj_ctype.obj
src/lj_debug.obj
src/lj_dispatch.obj
src/lj_err.obj
src/lj_ffrecord.obj
src/lj_func.obj
src/lj_gc.obj
src/lj_gdbjit.obj
src/lj_ir.obj
src/lj_lex.obj
src/lj_lib.obj
src/lj_load.obj
src/lj_mcode.obj
src/lj_meta.obj
src/lj_obj.obj
src/lj_opt_dce.obj
src/lj_opt_fold.obj
src/lj_opt_loop.obj
src/lj_opt_mem.obj
src/lj_opt_narrow.obj
src/lj_opt_sink.obj
src/lj_opt_split.obj
src/lj_parse.obj
src/lj_profile.obj
src/lj_record.obj
src/lj_snap.obj
src/lj_state.obj
src/lj_str.obj
src/lj_strfmt.obj
src/lj_strfmt_num.obj
src/lj_strscan.obj
src/lj_tab.obj
src/lj_trace.obj
src/lj_udata.obj
src/lj_vm.S
src/lj_vm.obj
src/lj_vmevent.obj
src/lj_vmmath.obj
src/lua51.dll
src/lua51.exp
src/lua51.lib
src/luajit.exe
src/luajit.exp
src/luajit.lib
src/luajit.obj
src/minilua.exe
src/minilua.exp
src/minilua.lib
src/minilua.obj
src/lj_bcread.o
src/lj_bcread_dyn.o
src/lj_bcwrite.o
src/lj_bcwrite_dyn.o
src/lj_ir.o
src/lj_ir_dyn.o
src/lj_load.o
src/lj_load_dyn.o
src/lj_opt_dce.o
src/lj_opt_dce_dyn.o
src/lj_opt_fold.o
src/lj_opt_fold_dyn.o
src/lj_opt_loop.o
src/lj_opt_loop_dyn.o
src/lj_opt_mem.o
src/lj_opt_mem_dyn.o
src/lj_opt_narrow.o
src/lj_opt_narrow_dyn.o
src/lj_opt_sink.o
src/lj_opt_sink_dyn.o
src/lj_opt_split.o
src/lj_opt_split_dyn.o

# linux build files
src/host/buildvm
src/host/buildvm.o
src/host/buildvm_asm.o
src/host/buildvm_fold.o
src/host/buildvm_lib.o
src/host/buildvm_peobj.o
src/host/minilua
src/host/minilua.o
src/lj_api.o
src/lj_api_dyn.o
src/lj_bc.o
src/lj_bc_dyn.o
src/lj_buf.o
src/lj_buf_dyn.o
src/lj_char.o
src/lj_char_dyn.o
src/lj_debug.o
src/lj_debug_dyn.o
src/lj_dispatch.o
src/lj_dispatch_dyn.o
src/lj_err.o
src/lj_err_dyn.o
src/lj_func.o
src/lj_func_dyn.o
src/lj_gc.o
src/lj_gc_dyn.o
src/lj_lex.o
src/lj_lex_dyn.o
src/lj_meta.o
src/lj_meta_dyn.o
src/lj_obj.o
src/lj_obj_dyn.o
src/lj_parse.o
src/lj_parse_dyn.o
src/lj_profile.o
src/lj_profile_dyn.o
src/lj_state.o
src/lj_state_dyn.o
src/lj_str.o
src/lj_str_dyn.o
src/lj_strfmt.o
src/lj_strfmt_dyn.o
src/lj_strfmt_num.o
src/lj_strfmt_num_dyn.o
src/lj_strscan.o
src/lj_strscan_dyn.o
src/lj_tab.o
src/lj_tab_dyn.o
src/lj_udata.o
src/lj_udata_dyn.o
src/lj_vm.o
src/lj_vm_dyn.o
src/lj_vmevent.o
src/lj_vmevent_dyn.o
src/lj_vmmath.o
src/lj_vmmath_dyn.o

# generated files
src/lj_bcdef.h
src/lj_ffdef.h
src/lj_folddef.h
src/lj_libdef.h
src/lj_recdef.h